<div class="container">



    <div class="card card-container">


        <center> <p style="color:hsla(0,100%,50%,1);"><h4>
                                                          <img src="~/images/trabajando.jpg" /> ATENCIÓN ! <br /> Estamos trabajando para brindarle un mejor servicio</h4></p><img id="profile-img" class="zoom" src="~/images/antuser.png" /></center>

       
    </div><!-- /card-container -->
</div><!-- /container -->